In [24]:
import pandas as pd
import pybaseball
from pybaseball import statcast, league_pitching_stats, league_batting_stats

In [20]:
test_df = statcast(start_dt="2024-04-01", end_dt="2024-04-02")

This is a large query, it may take a moment to complete

100%|██████████| 2/2 [00:00<00:00,  2.62it/s]

In [22]:
test_df

,pitch_type,game_date,release_speed,release_pos_x,release_pos_z,player_name,batter,pitcher,events,description,...,fld_score,post_away_score,post_home_score,post_bat_score,post_fld_score,if_fielding_alignment,of_fielding_alignment,spin_axis,delta_home_win_exp,delta_run_exp
2480,FF,2024-04-02,96.2,-1.89,5.78,"Jarvis, Bryce",519203,686826,field_out,hit_into_play,...,7,0,7,0,7,Infield shade,Standard,218,0.0,-0.07
2572,SL,2024-04-02,86.7,-2.59,5.55,"Jarvis, Bryce",519203,686826,NaN,foul,...,7,0,7,0,7,Infield shade,Standard,42,0.0,0.0
2664,FF,2024-04-02,96.5,-2.09,5.9,"Jarvis, Bryce",519203,686826,NaN,ball,...,7,0,7,0,7,Infield shade,Standard,216,0.0,0.012
2707,CH,2024-04-02,87.6,-2.27,5.56,"Jarvis, Bryce",519203,686826,NaN,foul,...,7,0,7,0,7,Infield shade,Standard,262,0.0,0.0
2785,CH,2024-04-02,88.4,-2.31,5.46,"Jarvis, Bryce",519203,686826,NaN,called_strike,...,7,0,7,0,7,Infield shade,Standard,260,0.0,-0.027
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3683,FF,2024-04-01,97.5,1.77,5.84,"Gore, MacKenzie",656582,669022,NaN,ball,...,0,0,0,0,0,Standard,Standard,153,0.0,0.11
3789,FF,2024-04-01,98.6,2.02,5.88,"Gore, MacKenzie",656582,669022,NaN,ball,...,0,0,0,0,0,Standard,Standard,147,0.0,0.035
3916,FF,2024-04-01,97.7,2.05,5.83,"Gore, MacKenzie",656582,669022,NaN,foul,...,0,0,0,0,0,Standard,Standard,150,0.0,-0.051
3949,FF,2024-04-01,96.8,2.1,5.84,"Gore, MacKenzie",656582,669022,NaN,ball,...,0,0,0,0,0,Standard,Standard,149,0.0,0.023
4132,FF,2024-04-01,97.3,2.14,5.78,"Gore, MacKenzie",656582,669022,NaN,called_strike,...,0,0,0,0,0,Standard,Standard,146,0.0,-0.036

In [27]:
pitching_data = league_pitching_stats.pitching_stats_bref()
pitching_data

,Name,Age,#days,Lev,Tm,G,GS,W,L,SV,...,StL,StS,GB/FB,LD,PU,WHIP,BAbip,SO9,SO/W,mlbID
1,Andrew Abbott,25,5,Maj-NL,Cincinnati,2,2,NaN,1.0,NaN,...,0.17,0.07,0.38,0.22,0.13,1.355,0.290,7.0,2.00,671096
2,Bryan Abreu,27,1,Maj-AL,Houston,6,0,NaN,1.0,NaN,...,0.16,0.14,0.22,0.28,0.06,2.294,0.333,9.5,1.20,650556
3,Jason Adam,32,2,Maj-AL,Tampa Bay,7,0,NaN,NaN,NaN,...,0.15,0.19,0.33,0.27,0.07,0.632,0.214,8.5,NaN,592094
4,Austin Adams,33,1,Maj-AL,Oakland,6,0,NaN,NaN,NaN,...,0.16,0.13,0.57,0.14,0.29,0.462,0.143,12.5,6.00,613534
5,Joan Adon,25,3,Maj-NL,Washington,1,1,NaN,NaN,NaN,...,0.21,0.03,0.62,0.31,0.00,1.500,0.250,4.5,0.67,672851
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
460,Yoshinobu Yamamoto,25,6,Maj-NL,Los Angeles,3,3,1.0,1.0,NaN,...,0.19,0.13,0.50,0.36,0.00,1.091,0.321,12.3,5.00,808967
461,Ryan Yarbrough,32,5,Maj-NL,Los Angeles,4,0,1.0,NaN,1.0,...,0.17,0.06,0.33,0.22,0.11,1.024,0.205,4.0,2.00,642232
462,Kirby Yates,37,3,Maj-AL,Texas,4,0,1.0,NaN,NaN,...,0.11,0.18,0.44,0.22,0.00,0.250,0.111,9.0,NaN,489446
463,Angel Zerpa,24,1,Maj-AL,Kansas City,6,0,NaN,NaN,NaN,...,0.20,0.07,0.18,0.36,0.09,0.857,0.364,9.6,NaN,672582
464,Guillo Zu\xc3\xb1iga,25,5,Maj-AL,Los Angeles,4,0,NaN,NaN,1.0,...,0.13,0.08,0.29,0.47,0.06,1.600,0.188,3.6,0.50,670871

In [28]:
batting_data = league_batting_stats.batting_stats_bref()
batting_data

,Name,Age,#days,Lev,Tm,G,PA,AB,R,H,...,SH,SF,GDP,SB,CS,BA,OBP,SLG,OPS,mlbID
1,CJ Abrams,23,2,Maj-NL,Washington,9,40,36,6,11,...,1,0,0,3,1,0.306,0.359,0.611,0.970,682928
2,Jos\xc3\xa9 Abreu,37,2,Maj-AL,Houston,12,41,37,4,3,...,0,1,1,0,0,0.081,0.146,0.081,0.227,547989
3,Wilyer Abreu,25,1,Maj-AL,Boston,9,23,21,1,4,...,0,0,0,0,0,0.191,0.261,0.238,0.499,677800
4,Ronald Acu\xc3\xb1a Jr.,26,1,Maj-NL,Atlanta,11,51,43,12,10,...,0,0,0,4,0,0.233,0.353,0.279,0.632,660670
5,Willy Adames,28,2,Maj-NL,Milwaukee,11,49,44,5,10,...,0,0,0,1,1,0.227,0.306,0.409,0.715,642715
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427,Mike Yastrzemski,33,3,Maj-NL,San Francisco,9,27,23,2,3,...,1,0,0,0,0,0.130,0.231,0.130,0.361,573262
428,Christian Yelich,32,2,Maj-NL,Milwaukee,10,45,38,7,12,...,0,0,0,2,0,0.316,0.409,0.737,1.146,592885
429,Masataka Yoshida,30,1,Maj-AL,Boston,13,50,45,5,10,...,0,0,1,0,0,0.222,0.300,0.267,0.567,807799
430,Jacob Young,24,2,Maj-NL,Washington,7,23,21,3,3,...,0,0,0,4,0,0.143,0.217,0.143,0.360,696285
431,Seby Zavala,30,5,Maj-AL,Seattle,3,10,10,0,0,...,0,0,0,0,0,0.000,0.000,0.000,0.000,664874

In [37]:
from pybaseball.team_batting import team_batting_bref
from pybaseball.teamid_lookup import team_ids

team_id_df = team_ids()
mlb_id_df = team_id_df[team_id_df['yearID'] == 2021]

In [40]:
year = 2024
league_team_batting_stats = pd.DataFrame()
for team in mlb_id_df['teamIDBR']:
    team_stats = team_batting_bref(team, year)
    league_team_batting_stats = pd.concat([league_team_batting_stats, team_stats])

Getting Batting Data: 2024 BAL
Getting Batting Data: 2024 BOS
Getting Batting Data: 2024 CHW
Getting Batting Data: 2024 CLE
Getting Batting Data: 2024 DET
Getting Batting Data: 2024 HOU
Getting Batting Data: 2024 KCR
Getting Batting Data: 2024 LAA
Getting Batting Data: 2024 MIN
Getting Batting Data: 2024 NYY
Getting Batting Data: 2024 OAK
Getting Batting Data: 2024 SEA
Getting Batting Data: 2024 TBR
Getting Batting Data: 2024 TEX
Getting Batting Data: 2024 TOR
Getting Batting Data: 2024 ARI
Getting Batting Data: 2024 ATL
Getting Batting Data: 2024 CHC
Getting Batting Data: 2024 CIN
Getting Batting Data: 2024 COL
Getting Batting Data: 2024 LAD
Getting Batting Data: 2024 MIA
Getting Batting Data: 2024 MIL
Getting Batting Data: 2024 NYM
Getting Batting Data: 2024 PHI
Getting Batting Data: 2024 PIT
Getting Batting Data: 2024 SDP
Getting Batting Data: 2024 SFG
Getting Batting Data: 2024 STL
Getting Batting Data: 2024 WSN

In [41]:
league_team_batting_stats

,Pos,Name,Year,Age,G,PA,AB,R,H,2B,...,OBP,SLG,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB
1,C,Adley Rutschman,2024.0,26,12,54,48,8,13,2,...,.333,.313,.646,93,15,0,0,0,1,0
2,1B,Ryan Mountcastle,2024.0,27,12,55,47,8,14,5,...,.364,.468,.832,144,22,1,0,0,2,0
3,2B,Jordan Westburg,2024.0,25,11,43,37,7,8,3,...,.310,.459,.769,124,17,0,2,1,0,0
4,SS,Gunnar Henderson,2024.0,23,12,54,48,9,11,1,...,.296,.521,.817,137,25,0,0,0,1,0
5,3B,Ramón Urías,2024.0,30,8,23,22,3,2,0,...,.130,.091,.221,-33,2,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27,P,Dylan Floro,2024.0,33,0,0,,,,,...,,,,,,,,,,
28,P,Jake Irvin,2024.0,27,0,0,,,,,...,,,,,,,,,,
29,P,Robert Garcia,2024.0,28,0,0,,,,,...,,,,,,,,,,
30,P,Jordan Weems,2024.0,31,0,0,,,,,...,,,,,,,,,,
31,P,MacKenzie Gore,2024.0,25,0,0,,,,,...,,,,,,,,,,